<div local-class="{{@header}}">
  {{#if (eq @header "header")}}
    <div local-class="details">
      <h1 local-class="name">
        Shane O'Neill
      </h1>
      <h2 local-class="title">
        Software Developer
      </h2>
    </div>
  {{/if}}
  <div local-class="nav-bar">
    <div local-class="nav-item" onclick={{action "scrollToSection" "about"}}>
      Home
    </div>
    <div local-class="nav-item" onclick={{action "scrollToSection" "tech"}}>
      Technologies
    </div>
    <div local-class="nav-item" onclick={{action "scrollToSection" "cv"}}>
      CV
    </div>
    <div local-class="nav-item" onclick={{action "scrollToSection" "awards"}}>
      Awards
    </div>
    <div local-class="nav-item" onclick={{action "scrollToSection" "contact"}}>
      Contact
    </div>
  </div>
</div>
