{{page-header
  header=this.header}}
<body local-class="body">
  <div local-class="{{if this.isMobile "content-mobile" "content-desktop"}}">
    <div local-class="links">
      <a local-class={{if this.isMobile "link-mobile" "link"}} href="mailto:sgoneill89@gmail.com">
        <img local-class="{{if this.isMobile "gmail-icon-mobile" "gmail-icon"}}" src="images/gmail.png">
      </a>
      <a local-class={{if this.isMobile "link-mobile" "link"}} href="https://github.com/ShaneON">
        <img local-class={{if this.isMobile "github-icon-mobile" "github-icon"}} src="images/github.png">
      </a>
      <a local-class={{if this.isMobile "link-mobile" "link"}} href="https://linkedin.com/in/shane-o-neill-7b133511b">
        <img local-class={{if this.isMobile "linkedin-icon-mobile" "linkedin-icon"}} src="images/linkedin.png">
      </a>
    </div>
  </div>
</body>
