<div class="{{this.header}}">
  {{#if (eq this.header "header")}}
    <div class="header-content">
      <img class={{if this.isMobile "header-img-mobile" "header-img"}} src="/images/myname.png">
      <div class={{if this.isMobile "header-title-mobile" "header-title"}}>
        <span class={{if this.isMobile "" "angle"}}>
          &lt;
        </span>
        <span class={{if this.isMobile "" "text-dark-blue"}}>
          Software
        </span>
        <span class={{if this.isMobile "" "syntax"}}>
          .
        </span>
        <span class={{if this.isMobile "" "text-dark-green"}}>
          Developer
        </span>
        <span class={{if this.isMobile "" "syntax"}}>
          /
        </span>
        <span class={{if this.isMobile "" "angle"}}>
          &gt;
        </span>
      </div>

    </div>
  {{/if}}
  <div class={{if this.isMobile "nav-bar-mobile" "nav-bar"}}>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item active"}} {{action "navigateToSection" "nav-about"}} id="nav-about">
      <span class="nav-item-bracket"> { </span>
      <span class="nav-item-text"> Home </span>
      <span class="nav-item-bracket"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-tech"}} id="nav-tech">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> Tech </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-cv"}} id="nav-cv">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> CV </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-awards"}} id="nav-awards">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> Awards </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-contact"}} id="nav-contact">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> Contact </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
  </div>
</div>

<div class="body" id="about">
  <div class="{{if this.isMobile "content-mobile" "content"}}">
    <div class="about-container">
      <div class="about-top">
        <img class={{if this.isMobile "about-img-mobile" "about-img"}} src="/images/me.jpg">
        <div class={{if this.isMobile "" "code-text"}}>
          <p class="about-line">
            <span class="angle">&lt;</span><span class="text-yellow">Shane</span><span class="syntax">/</span><span class="angle">&gt;</span>
            is a freelance
            <span class="text-blue">software</span><span class="syntax">.</span><span class="text-green">developer</span><span class="syntax">()</span>
            from
            <span class="text-blue"> Dublin </span><span class="syntax">(</span><span class="text-red">Ireland</span><span class="syntax">);</span>
          </p>
          <p class="about-line">
            He has experience working in
            <span class="syntax">[</span><span class="text-green"> frontend, backend, android, desktop </span><span class="syntax">] </span>
            development<span class="syntax">;</span>
            <br>
          </p>
          <p class="about-line">
            He is passionate about building
            <span class="syntax">[</span><span class="text-yellow"> beautiful, responsive, robust </span><span class="syntax">] </span>
            web applications.
          </p>
        </div>
      </div>
      <div class="about-middle">
        <div class={{if this.isMobile "" "code-text"}}>
          <p class="about-line">
            <span class="angle">&lt;</span><span class="text-yellow">Shane</span><span class="syntax">/</span><span class="angle">&gt;</span>
            graduated from
            <span class="text-blue">Dublin</span>.<span class="text-green">City</span>(<span class="text-red">University</span>)
            in
            <span class="text-yellow">2017</span>
            with an honours degree in
            {<span class="text-red">Computer Science</span>};
            <br><br>
            He won {<span class="text-red">Most Innovative Project</span>} at his university's final year project expo;
            <br><br>
            He has experience in both small(<span class="text-yellow">startups</span>) and
            large(<span class="text-red">corporations</span>), working with a wide range of technologies;
          </p>
        </div>
      </div>
      <div class="about-bottom">
        <div class={{if this.isMobile "" "code-text"}}>
          <p class="about-line">
            <span class="angle">&lt;</span><span class="text-yellow">Shane</span><span class="syntax">/</span><span class="angle">&gt;</span>
            has built <span class="text-yellow">frontend</span>.<span class="text-green">applications</span>
            for the largest salon booking software in the world;
          </p>
          <br><br>
          <p class="about-line">
            He has worked on (<span class="text-yellow">backend</span> + <span class="text-blue">database</span>)
            infrastructure for large banking multinationals;
          </p>
          <br><br>
          <p class="about-line">
            He has done many smaller projects
            (<span class="text-yellow">frontend</span> + <span class="text-blue">backend</span>)
            for individuals and startup companies;
          </p>
        </div>
      </div>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="tech">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        Technologies
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class={{if this.isMobile "thumbnail-container-mobile" "thumbnail-container"}}>
      <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/html-css-js.png">
      <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/ember-icon.svg">
      <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/spring.png">
      <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/nodejs.png">
      <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/android.png">
    </div>
    <AnimatedContainer class="animated-heading-container">
      {{#animated-value this.currentTech use=this.transitionFade as |value|}}
        <h2 class={{if this.isMobile "animated-heading-mobile" "animated-heading"}}>
          {{value}}
        </h2>
      {{/animated-value}}
    </AnimatedContainer>
    <AnimatedContainer class="animated-slideshow-container">

      {{#animated-if (eq this.imgCount 0) duration=1500 use=this.transitionMove}}
        <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/html-css-js.png">
      {{/animated-if}}
      {{#animated-if (eq this.imgCount 1) duration=1500 use=this.transitionMove}}
        <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/ember-icon.svg">
      {{/animated-if}}
      {{#animated-if (eq this.imgCount 2) duration=1500 use=this.transitionMove}}
        <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/spring.png">
      {{/animated-if}}
      {{#animated-if (eq this.imgCount 3) duration=1500 use=this.transitionMove}}
        <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/nodejs.png">
      {{/animated-if}}
      {{#animated-if (eq this.imgCount 4) duration=1500 use=this.transitionMove}}
        <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/android.png">
      {{/animated-if}}

    </AnimatedContainer>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="cv">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        CV
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class={{if this.isMobile "cv-container-mobile" "cv-container"}}>

      <img class={{if this.isMobile "cv-image-large-mobile" "cv-image-large"}} src="images/cv1.jpg"/>

      <img class={{if this.isMobile "cv-image-small-mobile" "cv-image-small"}} src="images/cv1.jpg"/>
      <img class={{if this.isMobile "cv-image-small-mobile" "cv-image-small"}} src="images/cv2.jpg"/>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="awards">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        Awards
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <h1 class={{if this.isMobile "expo-title-mobile" "expo-title"}}> DCU Final Year Project Expo </h1>
    <div class={{if this.isMobile "" "code-text"}}>
      <p class="about-line">
        <span class="angle">&lt;</span><span class="text-yellow">Shane</span><span class="syntax">/</span><span class="angle">&gt;</span>
        was awarded
        {<span class="text-red">Most Innovative Project</span>}
        at the
        <span class="text-blue">Dublin</span>.<span class="text-green">City</span>(<span class="text-red">University</span>)
        <span class="text-yellow">2017</span> final year project expo.
        <br><br>
        His project was a wearable technology navigation system for cyclists consisting
        of an android app and an arduino which was fitted to a helmet, using a light system
        to direct the cyclist to their destination.
        <br><br>
        Shane received first class honours for the project as well as a new Ipad.
      </p>
    </div>
    <div class="expo-img-container">
      <img class={{if this.isMobile "expo-img-mobile" "expo-img"}} src="images/openet.jpeg">
      <p class={{if this.isMobile "expo-caption-mobile" "expo-caption"}}>
       Shane being presented with an Ipad by the CEO of Openet, Joe Hogan.
      </p>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="contact">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        Contact
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class={{if this.isMobile "links-mobile" "links"}}>
     <a class={{if this.isMobile "link-mobile" "link"}} href="mailto:sgoneill89@gmail.com">
       <img class="{{if this.isMobile "gmail-icon-mobile" "gmail-icon"}}" src="images/gmail.png">
     </a>
     <a class={{if this.isMobile "link-mobile" "link"}} href="https://github.com/ShaneON">
       <img class={{if this.isMobile "github-icon-mobile" "github-icon"}} src="images/github.png">
     </a>
     <a class={{if this.isMobile "link-mobile" "link"}} href="https://linkedin.com/in/shane-o-neill-7b133511b">
       <img class={{if this.isMobile "linkedin-icon-mobile" "linkedin-icon"}} src="images/linkedin.png">
     </a>
    </div>
  </div>
</div>
