<div class="{{this.header}}">
  {{#if (eq this.header "header")}}
    <div class="header-content">
      <img class={{if this.isMobile "header-img-mobile" "header-img"}} src="/images/name.png">
      <div class={{if this.isMobile "header-title-mobile" "header-title"}}>
          Software Developer
      </div>

    </div>
  {{/if}}
  <!-- <div class={{if this.isMobile "nav-bar-mobile" "nav-bar"}}> -->
  <div class="nav-bar">
    <a class={{if this.isMobile "nav-item-mobile" "nav-item active"}} {{action "navigateToSection" "nav-about"}} id="nav-about">
      <span class="nav-item-bracket"> { </span>
      <span class="nav-item-text"> Home </span>
      <span class="nav-item-bracket"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-tech"}} id="nav-tech">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> Tech </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-cv"}} id="nav-cv">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> CV </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
    <a class={{if this.isMobile "nav-item-mobile" "nav-item"}} {{action "navigateToSection" "nav-contact"}} id="nav-contact">
      <span class="nav-item-bracket disabled"> { </span>
      <span class="nav-item-text"> Contact </span>
      <span class="nav-item-bracket disabled"> } </span>
    </a>
  </div>
</div>

<div class="body" id="about">
  <div class="{{if this.isMobile "content-mobile" "content"}}">
    <div class="about-container">
      <div class="about-tiles">
        <div class="about-tile" onclick={{action "changeTile" 'about'}}>
          <img class="about-tile-img" src="/images/me.jpg">
          <div class="about-tile-title">
            About
          </div>
        </div>
        <div class="about-tile" onclick={{action "changeTile" 'career'}}>
          <img class="about-tile-img" src="/images/career.jpg">
          <div class="about-tile-title">
            Career
          </div>
        </div>
        <div class="about-tile" onclick={{action "changeTile" 'education'}}>
          <img class="about-tile-img" src="/images/college.jpg">
          <div class="about-tile-title">
            Education
          </div>
        </div>
        <div class="about-tile" onclick={{action "changeTile" 'awards'}}>
          <img class="about-tile-img" src="/images/openet.jpeg">
          <div class="about-tile-title">
            Awards
          </div>
        </div>
      </div>
      <div class="about-content">
        {{#if (eq this.currentTile 'about')}}
          <div class="about-content-item">
            <div class="about-content-item-header">
              <h1 class="about-content-item-title">
                About
              </h1>
            </div>
            <div class="about-content-item-container">
              <img class="about-content-item-img" src="/images/me.jpg">
              <p class="about-content-item-text">
                Shane is a freelance software and web developer from Dublin, Ireland.
                <br><br>
                He has experience working in frontend, backend, android and desktop development.
                <br><br>
                He is passionate about building beautiful, responsive, and robust web applications.
              </p>
            </div>
          </div>
        {{/if}}
        {{#if (eq this.currentTile 'education')}}
          <div class="about-content-item">
            <div class="about-content-item-header">
              <h1 class="about-content-item-title">
                Education
              </h1>
            </div>
            <div class="about-content-item-container">
              <img class="about-content-item-img" src="/images/me.jpg">
              <p class="about-content-item-text">
                Shane graduated from Dublin City University in 2017 with an honours degree in Computer Science.
                <br><br>
                He specialized in wearable technology, machine translation and computer graphics.
                <br><br>
                He achieved a first class honours result and an award for his final year project.
              </p>
            </div>
          </div>
        {{/if}}
        {{#if (eq this.currentTile 'career')}}
          <div class="about-content-item">
            <div class="about-content-item-header">
              <h1 class="about-content-item-title">
                Career
              </h1>
            </div>
            <div class="about-content-item-container">
              <img class="about-content-item-img" src="/images/career.jpg">
              <p class="about-content-item-text">
                Shane has experience in both small startups and large corporations, working with a wide range of technologies.
                <br><br>
                Shane has built frontend applications for the largest salon booking software in the world.
                <br><br>
                He has worked on backend and database infrastructure for large banking multinationals.
                <br><br>
                He has also done many smaller projects (frontend + backend) for individuals and startup companies;
              </p>
            </div>
          </div>
        {{/if}}
        {{#if (eq this.currentTile 'awards')}}
          <div class="about-content-item">
            <div class="about-content-item-header">
              <h1 class="about-content-item-title">
                Awards
              </h1>
            </div>
            <div class="about-content-item-container">
              <img class="about-content-item-img" src="/images/openet.jpeg">
              <p class="about-content-item-text">
                Shane was awarded Most Innovative Project at the Dublin City University 2017 final year project expo.
                <br><br>
                Shane has built frontend applications for the largest salon booking software in the world.
                <br><br>
                His project was a wearable technology navigation system for cyclists consisting of an android app and an arduino which was fitted to a helmet, using a light system to direct the cyclist to their destination.
                <br><br>
                Shane received first class honours for the project as well as a new Ipad.
              </p>
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="tech">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        Technologies
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class="tech-container">
      <div class={{if this.isMobile "thumbnail-container-mobile" "thumbnail-container"}}>
        <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/html-css-js.png">
        <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/ember-icon.svg">
        <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/spring.png">
        <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/nodejs.png">
        <img class={{if this.isMobile "thumbnail-img-mobile" "thumbnail-img"}} src="/images/android.png">
      </div>
      <AnimatedContainer class="animated-heading-container">
        {{#animated-value this.currentTech use=this.transitionFade as |value|}}
          <h2 class={{if this.isMobile "animated-heading-mobile" "animated-heading"}}>
            {{value}}
          </h2>
        {{/animated-value}}
      </AnimatedContainer>
      <AnimatedContainer class="animated-slideshow-container">

        {{#animated-if (eq this.imgCount 0) duration=1500 use=this.transitionMove}}
          <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/html-css-js.png">
        {{/animated-if}}
        {{#animated-if (eq this.imgCount 1) duration=1500 use=this.transitionMove}}
          <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/ember-icon.svg">
        {{/animated-if}}
        {{#animated-if (eq this.imgCount 2) duration=1500 use=this.transitionMove}}
          <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/spring.png">
        {{/animated-if}}
        {{#animated-if (eq this.imgCount 3) duration=1500 use=this.transitionMove}}
          <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/nodejs.png">
        {{/animated-if}}
        {{#animated-if (eq this.imgCount 4) duration=1500 use=this.transitionMove}}
          <img class={{if this.isMobile "img-slideshow-mobile" "img-slideshow"}} src="/images/android.png">
        {{/animated-if}}
      </AnimatedContainer>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="cv">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        CV
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class={{if this.isMobile "cv-container-mobile" "cv-container"}}>

      <img class={{if this.isMobile "cv-image-large-mobile" "cv-image-large"}} src="images/cv1.jpg"/>

      <img class={{if this.isMobile "cv-image-small-mobile" "cv-image-small"}} src="images/cv1.jpg"/>
      <img class={{if this.isMobile "cv-image-small-mobile" "cv-image-small"}} src="images/cv2.jpg"/>
    </div>

    <div class={{if this.isMobile "seperator-mobile" "seperator"}} id="contact">
      <div class={{if this.isMobile "seperator-line-left-mobile" "seperator-line-left"}}></div>
      <h2 class={{if this.isMobile "seperator-title-mobile" "seperator-title"}}>
        Contact
      </h2>
      <div class={{if this.isMobile "seperator-line-right-mobile" "seperator-line-right"}}></div>
    </div>

    <div class={{if this.isMobile "links-mobile" "links"}}>
     <a class={{if this.isMobile "link-mobile" "link"}} href="mailto:sgoneill89@gmail.com">
       <img class="{{if this.isMobile "gmail-icon-mobile" "gmail-icon"}}" src="images/gmail.png">
     </a>
     <a class={{if this.isMobile "link-mobile" "link"}} href="https://github.com/ShaneON">
       <img class={{if this.isMobile "github-icon-mobile" "github-icon"}} src="images/github.png">
     </a>
     <a class={{if this.isMobile "link-mobile" "link"}} href="https://linkedin.com/in/shane-o-neill-7b133511b">
       <img class={{if this.isMobile "linkedin-icon-mobile" "linkedin-icon"}} src="images/linkedin.png">
     </a>
    </div>
  </div>
</div>
