{{ui-hooks did-insert=(action "activateScrolling")}}

{{#if this.isDesktop}}
  {{log "desktop"}}
  <div class="{{this.header}}">
    {{#if (eq this.header "header")}}
      <div class="header-content">
        <img class="header-img" src="/images/name2.png">
        <img class="header-sub-img" src="/images/software-dev.png">
      </div>
    {{/if}}
    <div class="nav-bar">
      <a class="nav-item active" {{action "navigateToSection" "nav-about"}} id="nav-about">
        <span class="nav-item-bracket"> { </span>
        <span class="nav-item-text"> Home </span>
        <span class="nav-item-bracket"> } </span>
      </a>
      <a class="nav-item" {{action "navigateToSection" "nav-tech"}} id="nav-tech">
        <span class="nav-item-bracket disabled"> { </span>
        <span class="nav-item-text"> Skills </span>
        <span class="nav-item-bracket disabled"> } </span>
      </a>
      <a class="nav-item" {{action "navigateToSection" "nav-contact"}} id="nav-contact">
        <span class="nav-item-bracket disabled"> { </span>
        <span class="nav-item-text"> Contact </span>
        <span class="nav-item-bracket disabled"> } </span>
      </a>
    </div>
  </div>

  <div class="body" id="about">
    <div class="content">
      <div class="about-container">
        <div class="about-tiles">
          <div class="about-tile" onclick={{action "tileSelected" 'about'}}>
            <img class="about-tile-img-bg" src="/images/code.jpg">
            <img class="about-tile-img-text-1" src="/images/about.png">
          </div>
          <div class="about-tile" onclick={{action "tileSelected" 'career'}}>
            <img class="about-tile-img-bg" src="/images/career.jpg">
            <img class="about-tile-img-text-2" src="/images/career.png">
          </div>
          <div class="about-tile" onclick={{action "tileSelected" 'education'}}>
            <img class="about-tile-img-bg" src="/images/education.jpg">
            <img class="about-tile-img-text-3" src="/images/education.png">
          </div>
          <div class="about-tile" onclick={{action "tileSelected" 'awards'}}>
            <img class="about-tile-img-bg" src="/images/awards.jpg">
            <img class="about-tile-img-text-4" src="/images/awards.png">
          </div>
        </div>
        <AnimatedContainer class="about-content-animated-container">
          {{#animated-if (eq this.currentSection 'about') duration=750 use=this.transitionMove}}
            <div class="about-content">
              <div class="about-content-header">
                <img class="about-content-header-text" src="/images/about.png" width="80px">
              </div>
              <div class="about-content-container">
                <img class="about-content-img" src="/images/me.jpg" width="200px">
                <p class="about-content-text">
                  Shane is a freelance software and web developer from Dublin, Ireland.
                  <br><br>
                  He has experience working in frontend, backend, android and desktop development.
                  <br><br>
                  He is passionate about building beautiful, responsive, and robust web applications.
                  <br><br>
                  <a class="about-content-link" href="/assets/cv.pdf">Download CV</a>
                </p>
              </div>
            </div>
          {{/animated-if}}
          {{#animated-if (eq this.currentSection 'career') duration=750 use=this.transitionMove}}
            <div class="about-content">
              <div class="about-content-header">
                <img class="about-content-header-text" src="/images/career.png" width="100px">
              </div>
              <div class="about-content-container">
                <img class="about-content-img" src="/images/working.jpg" width="300px">
                <p class="about-content-text">
                  Shane has experience in both small startups and large corporations, working with a wide range of technologies.
                  <br><br>
                  He has built frontend applications for the largest salon booking software in the world.
                  <br><br>
                  He has worked on backend and database infrastructure for large banking multinationals.
                  <br><br>
                  He has also done many smaller projects (frontend + backend) for individuals and startup companies.
                </p>
            </div>
            </div>
          {{/animated-if}}
          {{#animated-if (eq this.currentSection 'education') duration=750 use=this.transitionMove}}
            <div class="about-content">
              <div class="about-content-header">
                <img class="about-content-header-text" src="/images/education.png" width="120px">
              </div>
              <div class="about-content-container">
                <img class="about-content-img" src="/images/dcu.jpg" width="300px">
                <p class="about-content-text">
                  Shane graduated from Dublin City University in 2017 with an honours degree in Computer Science.
                  <br><br>
                  He specialized in wearable technology, machine translation and computer graphics.
                  <br><br>
                  He achieved a first class honours result and an award for his final year project.
                </p>
              </div>
            </div>
          {{/animated-if}}
          {{#animated-if (eq this.currentSection 'awards') duration=750 use=this.transitionMove}}
            <div class="about-content">
              <div class="about-content-header">
                <img class="about-content-header-text" src="/images/awards.png" width="100px">
              </div>
              <div class="about-content-container">
                <img class="about-content-img" src="/images/openet.jpeg" width="250px">
                <p class="about-content-text">
                  Shane was awarded Most Innovative Project at the Dublin City University 2017 final year project expo.
                  <br><br>
                  His project was a wearable technology navigation system for cyclists consisting of an android app and an arduino which was fitted to a helmet, using a light system to direct the cyclist to their destination.
                  <br><br>
                  Shane received first class honours for the project as well as a new Ipad, presented to him by the CEO of Openet, Joe Hogan.
                </p>
              </div>
            </div>
          {{/animated-if}}
        </AnimatedContainer>
      </div>
      <div id="about-end"></div>

      <div class="seperator" id="tech">
        <div class="seperator-line-left"></div>
        <h2 class="seperator-title">
          Technologies / Skills
        </h2>
        <div class="seperator-line-right"></div>
      </div>

      <div class="tech-container">
        <div class="thumbnail-container">
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 0}}>
            <img class="thumbnail-img" src="/images/html-css-js.png" width="75px" height="30px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 1}}>
            <img class="thumbnail-img" src="/images/ember-icon.svg" width="75px" height="75px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 2}}>
            <img class="thumbnail-img" src="/images/spring.png" width="100px" height="75spx">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 3}}>
            <img class="thumbnail-img" src="/images/nodejs.png" width="75px" height="60px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 4}}>
            <img class="thumbnail-img" src="/images/android.png" width="75px" height="75px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 5}}>
            <img class="thumbnail-img" src="/images/docker.png" width="50px" height="50px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 6}}>
            <img class="thumbnail-img" src="/images/kubernetes.png" width="40px" height="40px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 7}}>
            <img class="thumbnail-img" src="/images/sql.png" width="50px" height="50px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 8}}>
            <img class="thumbnail-img" src="/images/git.png" width="50px" height="25px">
          </div>
          <div class="thumbnail-item" onclick={{action "changeSlideshowImage" 9}}>
            <img class="thumbnail-img" src="/images/mongo.png" width="70px" height="25px">
          </div>
        </div>
        <div class="slideshow">
          <AnimatedContainer class="slideshow-heading">
            {{#animated-if (eq this.currentSlideshowImg 0) use=this.transitionFade}}
              <h2 class="slideshow-title">
                HTML5/Javascript/CSS3
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 1) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Ember.js Frontend Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 2) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Java/Spring Server-Side Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 3) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Node.js/Express Server-Side Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 4) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Android Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 5) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Docker
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 6) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Kubernetes
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 7) use=this.transitionFade}}
              <h2 class="slideshow-title">
                SQL
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 8) use=this.transitionFade}}
              <h2 class="slideshow-title">
                Git/Github
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 9) use=this.transitionFade}}
              <h2 class="slideshow-title">
                MongoDB
              </h2>
            {{/animated-if}}
          </AnimatedContainer>
          <div class="slideshow-container">
            <AnimatedContainer class="slideshow-content">
              {{#animated-if (eq this.currentSlideshowImg 0) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/html-css-js.png" width="350px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 1) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/ember-icon.svg" width="350px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 2) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/spring.png" width="400px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 3) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/nodejs.png" width="350px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 4) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/android.png" width="350px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 5) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/docker.png" width="250px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 6) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/kubernetes.png" width="200px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 7) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/sql.png" width="250px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 8) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/git.png" width="250px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 9) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/mongo.png" width="300px">
              {{/animated-if}}
            </AnimatedContainer>
            <div class="slideshow-details">
              <AnimatedContainer class="slideshow-details-container">
                {{#animated-if (eq this.currentSlideshowImg 0) use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    HTML defines the meaning and structure of web content.
                    <br><br>
                    CSS is a style sheet language used for describing the presentation of HTML.
                    <br><br>
                    JavaScript is a lightweight, interpreted programming language with first-class functions.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 1) use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Ember.js is a productive, battle-tested JavaScript framework for building modern web applications.
                    <br><br>
                    It includes everything you need to build rich UIs that work on any device.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 2) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    The Spring Framework is an application framework for the Java platform.
                    <br><br>
                    The framework is one of the most popular in the world for web application development.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 3) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that executes JavaScript code outside a web browser.
                    <br><br>
                    Express, is a back end web application framework for Node.js
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 4) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Android development is the creation of applications for android smartphones and other devices.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 5) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers.
                    <br><br>
                    Containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 6) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Kubernetes is an open-source container orchestration system for automating software deployment, scaling, and management. Google originally designed Kubernetes, but the Cloud Native Computing Foundation now maintains the project.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 7) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 8) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Git is software for tracking changes in any set of files, usually used for coordinating work among programmers collaboratively developing source code during software development. Its goals include speed, data integrity, and support for distributed, non-linear workflows.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 9) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.
                  </h2>
                {{/animated-if}}
                </AnimatedContainer>
            </div>
          </div>
        </div>
      </div>
      <div id="tech-end"></div>

      <div class="seperator" id="contact">
        <div class="seperator-line-left"></div>
        <h2 class="seperator-title">
          Contact
        </h2>
        <div class="seperator-line-right"></div>
      </div>

      <div class="links">
       <a class="link" href="mailto:sgoneill89@gmail.com">
         <img class="gmail-icon" src="images/gmail.png">
       </a>
       <a class="link" href="https://github.com/ShaneON">
         <img class="github-icon" src="images/github.png">
       </a>
       <a class="link" href="https://linkedin.com/in/shane-o-neill">
         <img class="linkedin-icon" src="images/linkedin.png">
       </a>
      </div>
    </div>
    <div id="contact-end"></div>
  </div>



{{!========================================= MOBILE ==============================================}}


{{else}}
  <div class="{{this.header}} mobile">
    {{#if (eq this.header "header")}}
      <div class="header-content mobile">
        <img class="header-img mobile" src="/images/name2.png">
        <img class="header-sub-img mobile" src="/images/software-dev.png">
      </div>
    {{/if}}
    <div class="nav-bar mobile">
      <a class="nav-item mobile active" {{action "navigateToSection" "nav-about"}} id="nav-about">
        <span class="nav-item-bracket mobile"> { </span>
        <span class="nav-item-text mobile"> Home </span>
        <span class="nav-item-bracket mobile"> } </span>
      </a>
      <a class="nav-item mobile" {{action "navigateToSection" "nav-tech"}} id="nav-tech">
        <span class="nav-item-bracket mobile disabled"> { </span>
        <span class="nav-item-text mobile"> Skills </span>
        <span class="nav-item-bracket mobile disabled"> } </span>
      </a>
      <a class="nav-item mobile" {{action "navigateToSection" "nav-contact"}} id="nav-contact">
        <span class="nav-item-bracket mobile disabled"> { </span>
        <span class="nav-item-text mobile"> Contact </span>
        <span class="nav-item-bracket mobile disabled"> } </span>
      </a>
    </div>
  </div>

  <div class="body" id="about">
    <div class="content mobile">
      <div class="about-container">
        <div class="about-tiles mobile">
          <AnimatedContainer class="about-tile-animated-container mobile">
            {{#animated-if (or this.isTileView (eq this.currentSection 'about')) use=this.transitionFade}}
              <div class="about-tile mobile" onclick={{action "tileSelectedMobile" 'about'}}>
                <img class="about-tile-img-bg mobile" src="/images/code.jpg">
                <img class="about-tile-img-text-1 mobile" src="/images/about.png">
              </div>
            {{/animated-if}}
          </AnimatedContainer>
          <AnimatedContainer class="about-tile-animated-container mobile">
            {{#animated-if (or this.isTileView (eq this.currentSection 'career')) use=this.transitionFade}}
              <div class="about-tile mobile" onclick={{action "tileSelectedMobile" 'career'}}>
                <img class="about-tile-img-bg mobile" src="/images/career.jpg">
                <img class="about-tile-img-text-2 mobile" src="/images/career.png">
              </div>
            {{/animated-if}}
          </AnimatedContainer>
          <AnimatedContainer class="about-tile-animated-container mobile">
            {{#animated-if (or this.isTileView (eq this.currentSection 'education')) use=this.transitionFade}}
              <div class="about-tile mobile" onclick={{action "tileSelectedMobile" 'education'}}>
                <img class="about-tile-img-bg mobile" src="/images/education.jpg">
                <img class="about-tile-img-text-3 mobile" src="/images/education.png">
              </div>
            {{/animated-if}}
          </AnimatedContainer>
          <AnimatedContainer class="about-tile-animated-container mobile">
            {{#animated-if (or this.isTileView (eq this.currentSection 'awards')) use=this.transitionFade}}
              <div class="about-tile mobile" onclick={{action "tileSelectedMobile" 'awards'}}>
                <img class="about-tile-img-bg mobile" src="/images/awards.jpg">
                <img class="about-tile-img-text-4 mobile" src="/images/awards.png">
              </div>
            {{/animated-if}}
          </AnimatedContainer>
          {{#if (not this.isTileView)}}
            <AnimatedContainer class="about-content-animated-container mobile">
              {{#animated-if (eq this.currentSection 'about') duration=1000 use=this.transitionFade}}
                <div class="about-content mobile">
                  <div class="about-content-container mobile">
                    <img class="about-content-img mobile" src="/images/me.jpg" width="120px" height="120px">
                    <div class="close" onclick={{action "closeAbout"}}></div>
                  </div>

                  <p class="about-content-text mobile">
                    Shane is a freelance software and web developer from Dublin, Ireland.
                    <br><br>
                    He has experience working in frontend, backend, android and desktop development.
                    <br><br>
                    He is passionate about building beautiful, responsive, and robust web applications.
                  </p>
                  <a class="about-content-link" href="/assets/cv.pdf">Download CV</a>
                </div>
              {{/animated-if}}
              {{#animated-if (eq this.currentSection 'career') duration=1000 use=this.transitionFade}}
                <div class="about-content mobile">
                  <div class="about-content-container">
                    <img class="about-content-img mobile" src="/images/working.jpg" width="180px" height="140px">
                    <div class="close" onclick={{action "closeAbout"}}></div>
                  </div>

                  <p class="about-content-text mobile">
                    Shane has experience in both small startups and large corporations, working with a wide range of technologies.
                    <br>
                    He has built frontend applications for the largest salon booking software in the world.
                    <br>
                    He has worked on backend and database infrastructure for large banking multinationals.
                    <br>
                    He has also done many smaller projects (frontend + backend) for individuals and startup companies;
                  </p>
                </div>
              {{/animated-if}}
              {{#animated-if (eq this.currentSection 'education') duration=1000 use=this.transitionFade}}
                <div class="about-content mobile">
                  <div class="about-content-container">
                    <img class="about-content-img mobile" src="/images/dcu.jpg" width="200px" height="160px">
                    <div class="close" onclick={{action "closeAbout"}}></div>
                  </div>

                  <p class="about-content-text mobile">
                    Shane graduated from Dublin City University in 2017 with an honours degree in Computer Science.
                    <br><br>
                    He specialized in wearable technology, machine translation and computer graphics.
                    <br><br>
                    He achieved a first class honours result and an award for his final year project.
                  </p>
                </div>
              {{/animated-if}}
              {{#animated-if (eq this.currentSection 'awards') duration=1000 use=this.transitionFade}}
                <div class="about-content mobile">
                  <div class="about-content-container mobile">
                    <img class="about-content-img mobile" src="/images/openet.jpeg" width="200px" height="160px">
                    <div class="close" onclick={{action "closeAbout"}}></div>
                  </div>

                  <p class="about-content-text mobile">
                    Shane was awarded Most Innovative Project at the Dublin City University 2017 final year project expo.
                    <br><br>
                    Shane has built frontend applications for the largest salon booking software in the world.
                    <br><br>
                    His project was a wearable technology navigation system for cyclists consisting of an android app and an arduino which was fitted to a helmet, using a light system to direct the cyclist to their destination.
                    <br><br>
                    Shane received first class honours for the project as well as a new Ipad.
                  </p>
                </div>
              {{/animated-if}}
            </AnimatedContainer>
          {{/if}}
        </div>
      </div>
      <div id="about-end"></div>

      <div class="seperator mobile" id="tech">
        <div class="seperator-line-left mobile"></div>
        <h2 class="seperator-title mobile">
          Skills / Technologies
        </h2>
        <div class="seperator-line-right mobile"></div>
      </div>

      <div class="tech-container">
        <div class="thumbnail-row mobile">
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 0}}>
            <img class="thumbnail-img" src="/images/html-css-js.png" width="45px" height="20px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 1}}>
            <img class="thumbnail-img" src="/images/ember-icon.svg" width="65px" height="65px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 2}}>
            <img class="thumbnail-img" src="/images/spring.png" width="90px" height="65px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 3}}>
            <img class="thumbnail-img" src="/images/nodejs.png" width="65px" height="50px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 4}}>
            <img class="thumbnail-img" src="/images/android.png" width="65px" height="65px">
          </div>
        </div>
        <div class="thumbnail-row mobile">
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 5}}>
            <img class="thumbnail-img" src="/images/docker.png" width="40px" height="40px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 6}}>
            <img class="thumbnail-img" src="/images/kubernetes.png" width="30px" height="30px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 7}}>
            <img class="thumbnail-img" src="/images/sql.png" width="40px" height="40px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 8}}>
            <img class="thumbnail-img" src="/images/git.png" width="40px" height="20px">
          </div>
          <div class="thumbnail-item mobile" onclick={{action "changeSlideshowImage" 9}}>
            <img class="thumbnail-img" src="/images/mongo.png" width="50px" height="20px">
          </div>
        </div>
        <div class="slideshow mobile">
          <AnimatedContainer class="slideshow-heading mobile">
            {{#animated-if (eq this.currentSlideshowImg 0) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                HTML5/Javascript/CSS3
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 1) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Ember.js Frontend Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 2) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Java/Spring Server-Side Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 3) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Node.js/Express Server-Side Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 4) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Android Development
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 5) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Docker
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 6) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Kubernetes
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 7) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                SQL
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 8) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                Git/Github
              </h2>
            {{/animated-if}}
            {{#animated-if (eq this.currentSlideshowImg 9) use=this.transitionFade}}
              <h2 class="slideshow-title mobile">
                MongoDB
              </h2>
            {{/animated-if}}
          </AnimatedContainer>
          <div class="slideshow-container mobile">
            <AnimatedContainer class="slideshow-content mobile">
              {{#animated-if (eq this.currentSlideshowImg 0) duration=1500 use=this.transitionMove}}
                <img class="slideshow-img mobile" src="/images/html-css-js.png">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 1) duration=1500 use=this.transitionMove}}
                <img class="slideshow-img mobile" src="/images/ember-icon.svg">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 2) duration=1500 use=this.transitionMove}}
                <img class="slideshow-img mobile" src="/images/spring.png">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 3) duration=1500 use=this.transitionMove}}
                <img class="slideshow-img mobile" src="/images/nodejs.png">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 4) duration=1500 use=this.transitionMove}}
                <img class="slideshow-img mobile" src="/images/android.png">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 5) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/docker.png" width="150px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 6) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/kubernetes.png" width="100px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 7) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/sql.png" width="150px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 8) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/git.png" width="150px">
              {{/animated-if}}
              {{#animated-if (eq this.currentSlideshowImg 9) duration=1000 use=this.transitionMove}}
                <img class="slideshow-img" src="/images/mongo.png" width="200px">
              {{/animated-if}}
            </AnimatedContainer>
            <div class="slideshow-details mobile">
              <AnimatedContainer class="slideshow-details-container mobile">
                {{#animated-if (eq this.currentSlideshowImg 0) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    HTML defines the meaning and structure of web content.
                    <br><br>
                    CSS is a style sheet language used for describing the presentation of HTML.
                    <br><br>
                    JavaScript is a lightweight, interpreted programming language with first-class functions.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 1) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Ember.js is a productive, battle-tested JavaScript framework for building modern web applications.
                    <br><br>
                    It includes everything you need to build rich UIs that work on any device.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 2) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    The Spring Framework is an application framework for the Java platform.
                    <br><br>
                    The framework is one of the most popular in the world for web application development.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 3) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that executes JavaScript code outside a web browser.
                    <br><br>
                    Express, is a back end web application framework for Node.js
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 4) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Android development is the creation of applications for android smartphones and other devices.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 5) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers.
                    <br><br>
                    Containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 6) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Kubernetes is an open-source container orchestration system for automating software deployment, scaling, and management. Google originally designed Kubernetes, but the Cloud Native Computing Foundation now maintains the project.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 7) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 8) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    Git is software for tracking changes in any set of files, usually used for coordinating work among programmers collaboratively developing source code during software development. Its goals include speed, data integrity, and support for distributed, non-linear workflows.
                  </h2>
                {{/animated-if}}
                {{#animated-if (eq this.currentSlideshowImg 9) duration=1000 use=this.transitionFade}}
                  <h2 class="slideshow-details-text">
                    MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.
                  </h2>
                {{/animated-if}}
              </AnimatedContainer>
            </div>
          </div>
        </div>
      </div>
      <div id="tech-end"></div>

      <div class="seperator mobile" id="contact">
        <div class="seperator-line-left mobile"></div>
        <h2 class="seperator-title mobile">
          Contact
        </h2>
        <div class="seperator-line-right mobile"></div>
      </div>

      <div class="links mobile">
       <a class="link mobile" href="mailto:sgoneill89@gmail.com">
         <img class="gmail-icon mobile" src="images/gmail.png">
       </a>
       <a class="link mobile" href="https://github.com/ShaneON">
         <img class="github-icon mobile" src="images/github.png">
       </a>
       <a class="link mobile" href="https://linkedin.com/in/shane-o-neill-7b133511b">
         <img class="linkedin-icon mobile" src="images/linkedin.png">
       </a>
      </div>
    </div>
    <div id="contact-end"></div>
  </div>
{{/if}}
